*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-one{
    font: Poppin;
    height: 200px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 120px;
    border-radius: 30px;
    margin-top: -50px;
    color: #5B5B5B;
    font-weight: 500;
}

.banner-items h3{
   color: #5E1EE5;
   }
    
